{% extends 'insta/base.html' %}
{% block title %}My feed{% endblock %}
{% block headpart %} 
<style>

</style>
<script> 
    function follow(follow_id){
        $.ajax({
            type: 'POST',
            url: '/follow/',
            data: {'follow_id': follow_id ,
            'csrfmiddlewaretoken': '{{ csrf_token }}',
        },
            success: function (response) {

                $('.follow-alert').removeClass('fade');
                setTimeout(function() {
                    $('.follow-alert').addClass('fade');
                    location.reload();  
                },1200);  
            },
            error: function (response) {
                // alert the error if any error occured
                alert(response);
            },
    });
}
function likeme(post_id,unlike,token){
    $.ajax({
        type: 'POST',
        url: "{% url 'likeme' %}",
        dataType: "json",
        data: {"post_id": post_id ,
                "unlike" : unlike,
        "csrfmiddlewaretoken": token,
    },   
        success: function (response) {
            if(response.unlike){
                $("#heart"+response.id).html('<i class="fa fa-heart-o" aria-hidden="true"></i>');
            }
            else{
                $("#heart"+response.id).html('<i class="fa fa-heart" aria-hidden="true"></i>');
            }
        },
        error: function (response) {
            // alert the error if any error occured
        },
});
}
    
    $(document).ready(function(){
        $(".comment_form").on("submit", function(event){
            event.preventDefault();
            var formValues= $(this).serialize();
            var elm = $(this).attr('id');
            $.ajax({
                type: 'POST',
                url: '/comment/',
                data:   $("#"+elm).serialize(),
                success: function (response) {

                    //$('#'+elm).append(response.comment);
                    $('.all_comments-'+elm).append(response.comment);
                },
                error: function (response) {
                    // alert the error if any error occured
                    alert(response["responseJSON"]["error"]);
                },
        });
           /* $.post("process_form.php", formValues, function(data){
                // Display the returned data in browser
                $("#result").html(data);
            });
        });*/
    });
    $('.com-text').val('');
      });

</script>

{% endblock %}

{% block content %}
<div class="top_right">
    <span class='fa fa-bell' id='notify' onclick="showNotif()">  </span>
    <span> <a href='#' onclick="showAddForm()" class="fa fa-plus"></a> </span>
    <div class="notif modal" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" style="text-align: center;">Notifications</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closeNotif()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% for index,obj in notifications.items reversed  %}
                    
                        {%if obj.type == 'Follow' %}
                            {%if obj.result.follower != request.user %}
                                <span>{{obj.result.follower.username}} started following you </span> </br>
                            {% endif %}
                        {% elif obj.type == 'Likes' %} 
                        {%if obj.result.user != request.user %}
                            <span>{{obj.result.user.username}} likes your post </span> </br>
                        {% endif %}
                        {% elif obj.type == 'Comment' %} 
                            {%if obj.result.user != request.user %}
                            <span> {{obj.result.user.username}} commented on your post </span> </br>
                            {% endif %}

                        {% endif %}
                   
                    {% endfor  %}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="add_form modal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" style="text-align: center;">Upload Your Picture Stories Here</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closeAddForm()">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
    <form method = 'post' action="{% url 'index' %} " enctype="multipart/form-data">
        {% csrf_token %}
        {% if form.errors%}
        <p> Something went wrong</p>
        {% endif %}
        {{context}}
         {{form}} 
        <input type="submit" value=Submit />
    </form>
    </div>
    </div>
    </div>
</div>
<div class="col-md-2"></div>
<div class="col-md-6">
<div class="main-content">
    {% if posts %}
    {% for id, postval in posts.items %}
    <div class="card post-item" style="width: 58rem;">
        {{postval.post_user.username}} 
        <img src='/media/{{postval.image}}'  width="100%" />
        <div class="card-body">
            <p class="card-text">{{postval.caption}} </p>
            <div class='all_comments all_comments-comment_form{{id}}'> {{postval.post_comment | default_if_none:''}}</div>
            {% if postval.liked %}
                <span id = "heart{{postval.id}}" class="liked">
                    <i class="fa fa-heart" aria-hidden="true" onclick='likeme({{postval.id}},"unlike","{{csrf_token}}")' ></i>
                </span>
            {% else %}
                <span id = heart{{postval.id}}>
                    <i class="fa fa-heart-o" aria-hidden="true" onclick='likeme({{postval.id}},"","{{csrf_token}}")' ></i>
                </span>
            {% endif %}
            <span  onclick="openCBox({{id}})" style="color:#d3d3d3">Comment</span>
            <div class="cbox cbox{{id}}">
                <form method="POST" class="comment_form" id="comment_form{{id}}">
                    {% csrf_token %}
                    <input type="hidden" value="{{postval.id}}" name="post_id" />
                    <textarea class = 'com-text'rows="3" cols="70" name="comment_val"></textarea>
                    <button value="Submit" style="width: 15%;" name="comment_submit" >Post</button>
                </form>
            </div>  
<!-- Used CDN for Font Awesome and Jquery. -->
        </div>
    </div>
    {% endfor %}    
    {% endif %}    
    {%if uploadedValues %}
    <img src='/media/{{uploadedValues.imagepath}}'  width="100%" />
    {{uploadedValues.caption}}
    {% endif %}
</div>
</div>
<div class="col-md-4">
    {%if near_by_users %}
<h2 style="text-align:center">People You may Know</h2>
<div class="alert alert-info follow-alert fade" role="alert">
    New connection added
  </div>
{% else %}
<h2 style="text-align:center">No nearby profiles found</h2>
{% endif %}
{% for key,near_by_user in near_by_users.items %}
    <div class="mt-5 d-flex justify-content-center" style="margin:5px;padding:5px;">
        <div class="card p-3">
            <div class="d-flex align-items-center">
                <div class="image"> <img src="/static/images/default-dp.jpg" class="rounded" width="155"> </div>
                <div class="ml-3 w-100">
                    <h4 class="mb-0 mt-0">{{ near_by_user.profile}}</h4> <span>{{near_by_user.location}}</span>
                    <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">
                        <!--<div class="d-flex flex-column"> <span class="articles">Articles</span> <span class="number1">38</span> </div>
                        <div class="d-flex flex-column"> <span class="followers">Followers</span> <span class="number2">980</span> </div>
                        <div class="d-flex flex-column"> <span class="rating">Rating</span> <span class="number3">8.9</span> </div>-->
                    </div>
                    
                    <div class="button mt-2 d-flex flex-row align-items-center">  <button class="btn btn-sm btn-primary w-100 ml-2 " id="follow-button" onclick=follow({{near_by_user.id}})>Follow</button> </div>
                </div>
            </div>
        </div>
    </div>
    
    {% endfor %}
    </div>
{% endblock %}